.sass-test {
  padding: 10px;
  background-color: rgb(223, 173, 230);
  font-weight: bold;
}

code {
  font-size: 14px;
  font-weight: 500;
  color: green;
  font-family: "Dank Mono", "Source Code Pro", monospace;
}
